DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/coordinador?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST:5432/coordinador?sslmode=require"
AUTH_SECRET="genera-un-valor-aleatorio-de-al-menos-32-caracteres"
SEED_DEMO_EMAIL=""
SEED_DEMO_PASSWORD=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
